@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Narrow Bold"),
  url("../fonts/ptsansnarrowbold.woff") format("woff");
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: normal;
  src: local("PT Sans Narrow"),
  url("../fonts/ptsansnarrow.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: 960px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  
  background: rgba(248, 245, 242, 1) url("../img/main-background.png") repeat;
}

body.index {
  background: rgba(28, 28, 28, 1) url("../img/index-background.jpg") no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.btn {
  min-height: 43px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  
  background-color: rgba(0, 0, 0, 1);
  border: 0;
  
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: rgba(102, 61, 21, 1);
}

.clearfix::after {
  content: "";
  
  display: table;
  clear: both;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  min-height: 72px;
  margin-bottom: 49px;
  
  color: rgba(255, 255, 255, 1);
  
  background-color: rgba(0, 0, 0, 1);
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: inherit;
}

.header-navigation {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-top: 23px;
  padding-right: 20px;
  padding-left: 21px;
}

.header-navigation ul {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.header-navigation li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.header-navigation-item {
  display: block;
  min-height: 72px;
  padding: 24px 20px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.header-navigation-item.active {
  position: relative;
}

.header-navigation-item.active::after {
  content: "";
  
  position: absolute;
  right: 19px;
  bottom: 0;
  left: 21px;
  
  height: 4px;
  
  background-color: rgba(255, 255, 255, 1);
}

.header-logo:hover,
.header-logo:active,
.header-navigation-item[href]:hover,
.header-navigation-item[href]:active {
  background-color: rgba(36, 36, 36, 1);
}

.header-user-navigation {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.header-user-navigation li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.header-user-navigation a {
  display: block;
  min-height: 72px;
  padding: 24px 20px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.header-user-navigation a[href]:hover,
.header-user-navigation a[href]:active {
  background-color: rgba(36, 36, 36, 1);
}

a.header-log-in {
  position: relative;
  
  padding-left: 52px;
}

.header-log-in::before {
  content: "";
  
  position: absolute;
  top: 27px;
  left: 22px;
  
  width: 18px;
  height: 16px;
  
  background: url("../img/sprite.png") no-repeat -5px -37px;
  
  opacity: 0.3;
}

.header-log-in:hover::before,
.header-log-in:active::before {
  opacity: 1;
}

.index-header {
  margin-bottom: 60px;
}

.main-title {
  margin: 0;
  margin-bottom: 15px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  
  -ms-flex-negative: 0;
  
  flex-shrink: 0;
  padding-right: 42px;
}

.breadcrumbs li:not(:last-of-type)::after {
  content: "";
  
  position: absolute;
  top: 6px;
  right: 16px;
  
  width: 11px;
  height: 12px;
  
  background: url("../img/sprite.png") no-repeat -5px -5px;
}

.breadcrumbs a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.breadcrumbs .current {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(171, 169, 167, 1);
  text-transform: uppercase;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 47px;
  margin-bottom: 49px;
}

.catalog-filters {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 220px;
}

.manufacturers {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  
  border: 0;
}

.manufacturers h2 {
  margin: 0;
  margin-bottom: 26px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.manufacturers ul {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  
  list-style: none;
}

.manufacturers li {
  margin-bottom: 13px;
}

.manufacturers label {
  position: relative;
  
  display: inline-block;
  padding-left: 44px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  
  cursor: pointer;
}

.manufacturers label::before {
  content: "";
  
  position: absolute;
  top: -1px;
  left: 1px;
  
  width: 20px;
  height: 20px;
  
  border: 2px solid rgba(0, 0, 0, 1);
}

.manufacturers label:hover {
  color: rgba(102, 61, 21, 1);
}

.manufacturers input:checked ~ label::after {
  content: "";
  
  position: absolute;
  top: 3px;
  left: 5px;
  
  width: 12px;
  height: 12px;
  
  background: url("../img/sprite.png") no-repeat -26px -5px;
}

.groups-products {
  margin: 0;
  padding: 0;
  
  border: 0;
}

.groups-products h2 {
  margin: 0;
  margin-bottom: 29px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.groups-products ul {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  
  list-style: none;
}

.groups-products li {
  margin-bottom: 13px;
}

.groups-products label {
  position: relative;
  
  display: inline-block;
  padding-left: 44px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  
  cursor: pointer;
}

.groups-products label::before {
  content: "";
  
  position: absolute;
  top: -1px;
  left: 1px;
  
  width: 20px;
  height: 20px;
  
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
}

.groups-products label:hover {
  color: rgba(102, 61, 21, 1);
}

.groups-products input:checked ~ label::after {
  content: "";
  
  position: absolute;
  top: 5px;
  left: 7px;
  
  width: 8px;
  height: 8px;
  
  border: 4px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
}

.catalog-btn {
  margin-top: 35px;
  margin-left: 1px;
  padding-right: 27px;
  padding-left: 34px;
}

.catalog-list {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.catalog-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 700px;
  padding-top: 6px;
}

.catalog-item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.catalog-item:nth-of-type(3n) {
  margin-right: 0;
}

.catalog-item-info {
  margin-top: 6px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.catalog-item-title {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
}

.catalog-item-title span {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.catalog-item-product {
  text-transform: none;
}

.catalog-item-manufacturer {
  text-transform: uppercase;
}

.catalog-item-buying {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 13px;
}

.catalog-item-price {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 109px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 3px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-align: center;
  
  background-color: rgba(229, 229, 229, 1);
}

.catalog-item-btn {
  width: 78px;
  padding-top: 12px;
  padding-left: 2px;
  
  font-size: 14px;
  text-align: center;
}

.catalog-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  
  list-style: none;
}

.catalog-pagination li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 7px;
}

.catalog-pagination-btn {
  display: block;
  width: 43px;
  height: 43px;
  padding-top: 13px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  text-align: center;
  
  background-color: rgba(0, 0, 0, 1);
}

.catalog-pagination-btn[href]:hover,
.catalog-pagination-btn[href]:active {
  background-color: rgba(102, 61, 21, 1);
}

.catalog-pagination .current {
  color: rgba(0, 0, 0, 1);
  
  background-color: rgba(255, 255, 255, 1);
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 54px;
  margin-bottom: 28px;
}

.item-gallery {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 480px;
}

.item-gallery img{
  margin-right: 18px;
  margin-bottom: 14px;
  
  -webkit-box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
  
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.item-info {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 390px;
  padding-top: 20px;
}

.item-info p {
  margin: 0;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.item-stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 29px;
}

.item-stock .item-vendor-code {
  margin-right: 12px;
  
  color: rgba(174, 174, 174, 1);
}

.item-info .item-describing {
  margin-bottom: 35px;
}

.item-buying {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 61px;
}

.item-price {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 109px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 3px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-align: center;
  
  background-color: rgba(229, 229, 229, 1);
}

.item-btn {
  width: 78px;
  padding-top: 12px;
  padding-left: 2px;
  
  font-size: 14px;
  text-align: center;
}

.item-composition h2 {
  margin: 0;
  margin-bottom: 29px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.item-composition ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.item-composition li {
  position: relative;
  
  padding-left: 22px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.item-composition li::before {
  content: "";
  
  position: absolute;
  top: 5px;
  left: 1px;
  
  width: 11px;
  height: 12px;
  
  background: url("../img/sprite.png") no-repeat -5px -5px;
}

.inner-content {
  margin-top: 48px;
  margin-bottom: 76px;
}

.inner-content h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.inner-content p {
  margin: 14px 0;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.inner-content table {
  border-collapse: collapse;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.inner-content td {
  padding: 8px 15px;
  
  border: 2px solid #000000;
}

.big-heading {
  margin-bottom: 58px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-align: center;
}

.big-heading h2 {
  position: relative;
  z-index: 2;
  
  display: inline-block;
  margin: 0;
  padding: 0 29px;
  
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  
  background: #f8f3f0 url("../img/main-background.png") repeat;
}

.big-heading::after {
  content: "";
  position: relative;
  top: -25px;
  z-index: 1;
  
  display: block;
  
  border-bottom: 2px solid #000000;
}

.inner-column-left h2 {
  margin-bottom: 27px;
}

.custom-list-1 {
  margin: 0;
  padding: 0;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  list-style: none;
}

.custom-list-1 li {
  position: relative;
  
  margin-bottom: 13px;
  padding-left: 21px;
}

.custom-list-1 li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  
  width: 8px;
  height: 8px;
  
  background-color: #000000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.inner-column-right h2 {
  margin-bottom: 34px;
}

.prices-table {
  width: 100%;
}

.prices-table td {
  width: 50%;
}

.prices-table td:last-child {
  text-align: center;
}

.short-text {
  padding-right: 80px;
}

.inner-column-left,
.inner-column-right {
  width: 460px;
}

.inner-column-left {
  float: left;
}

.inner-column-right {
  float: right;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
  margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
  margin-bottom: 0;
}

.inner-columns > h2 {
  margin-top: 58px;
  margin-bottom: 29px;
}

.inner-column-left .short-text {
  padding-right: 76px;
}

.inner-column-right .short-text {
  padding-right: 80px;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 292px;
  margin-bottom: 21px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 76px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  
  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;
  
  display: block;
  margin-bottom: 30px;
  padding-bottom: 31px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.index-content {
  margin-bottom: 36px;
  padding: 47px 80px;
  
  color: #000000;
  
  background: url("../img/delimiter.png") no-repeat center,
  #f8f5f2 url("../img/main-background.png");
}

.index-content-left {
  float: left;
  width: 381px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 21px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.index-content p {
  margin: 0;
  margin-bottom: 20px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  
  list-style: none;
}

.news-preview li {
  margin-bottom: 20px;
}

.news-preview li:last-of-type {
  margin-bottom: 28px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
}

.index-btn {
  display: inline-block;
  margin-right: 17px;
  padding: 10px 31px;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.smaller-btn {
  padding: 10px 26px;
}

.bigger-btn {
  padding: 10px 120px;
}

.index-btn:hover,
.index-btn:active {
  background-color: #663d15;
}

.index-btn.disabled,
.index-btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.index-btn.disabled:hover,
.index-btn:disabled:hover {
  background-color: #000000;
}

.gallery {
  position: relative;
  
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 140px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

.index-content:last-of-type {
  margin-bottom: 69px;
}

.footer {
  color: rgba(255, 255, 255, 1);
  
  background: rgba(34, 34, 34, 1) url("../img/footer-background.png") repeat;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 37px;
}

.footer-contacts {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.footer-contacts a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-decoration: underline;
}

.footer-socials {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 138px;
}

.footer-socials b {
  margin-left: 17px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.footer-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  
  list-style: none;
}

.footer-socials li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 6px;
}

.social-btn {
  position: relative;
  
  display: block;
  width: 43px;
  height: 43px;
  
  background-color: rgba(0, 0, 0, 1);
}

.social-btn:hover,
.social-btn:active {
  background-color: rgba(255, 255, 255, 1);
}

.social-btn::after {
  content: "";
  
  position: absolute;
  
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social-btn-vk::after {
  top: 14px;
  left: 9px;
  
  width: 25px;
  height: 16px;
  background-position: -66px -95px;
}

.social-btn-vk:hover::after,
.social-btn-vk:active::after {
  background-position: -5px -121px;
}

.social-btn-fb::after {
  top: 10px;
  left: 16px;
  
  width: 12px;
  height: 22px;
  background-position: -66px -5px;
}

.social-btn-fb:hover::after,
.social-btn-fb:active::after {
  background-position: -88px -5px;
}

.social-btn-inst::after {
  top: 10px;
  left: 12px;
  
  width: 21px;
  height: 21px;
  background-position: -66px -37px;
}

.social-btn-inst:hover::after,
.social-btn-inst:active::after {
  background-position: -5px -68px;
}

.footer-copyright {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: center;
}

.footer-copyright b {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.footer-copyright a {
  display: block;
  margin-top: 15px;
  padding-top: 10px;
  padding-right: 21px;
  padding-bottom: 9px;
  padding-left: 23px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  
  background-color: rgba(0, 0, 0, 1);
}

.footer-copyright a:hover,
.footer-copyright a:active {
  color: rgba(0, 0, 0, 1);
  
  background-color: rgba(255, 255, 255, 1);
}

@-webkit-keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal-overlay {
  display: none;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  
  width: 100%;
  height: 100%;
}

.modal-content {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  
  position: absolute;
  top: 120px;
  left: 50%;
  z-index: 100;
  
  display: none;
  width: 300px;
  margin-left: -230px;
  padding-top: 49px;
  padding-right: 80px;
  padding-bottom: 58px;
  padding-left: 80px;
  
  color: #000000;
  
  background: #f8f3f0 url("../img/main-background.png");
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-map {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  
  display: none;
  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;
  
  background: #e9e5dc url("../img/map.png");
  border: 7px solid white;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal-content-close {
  position: absolute;
  top: 8px;
  right: -40px;
  
  width: 20px;
  height: 21px;
  
  font-size: 0;
  
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  
  position: absolute;
  top: 10px;
  left: 2px;
  
  width: 27px;
  height: 3px;
  
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 22px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.modal-content p {
  margin: 0;
  margin-bottom: 14px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.modal-content .login-form {
  position: relative;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 8px;
  padding: 12px 13px;
  padding-right: 47px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form label[for="login"] {
  position: absolute;
  top: 16px;
  right: 17px;
  
  width: 15px;
  height: 15px;
  
  background: url("../img/sprite.png") no-repeat -91px -68px;
}

.login-form label[for="password"] {
  position: absolute;
  top: 64px;
  right: 17px;
  
  width: 15px;
  height: 17px;
  
  background: url("../img/sprite.png") no-repeat -66px -68px;
}

.login-form input:nth-of-type(2) {
  margin-bottom: 13px;
}

.login-form .restore {
  float: right;
  padding-top: 4px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-decoration: underline;
}

.login-form .btn {
  margin-top: 14px;
  padding-top: 0;
  padding-right: 138px;
  padding-bottom: 0;
  padding-left: 128px;
}

.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox {
  position: relative;
  
  padding-left: 30px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  font-family: "PT Sans Narrow" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  
  cursor: pointer;
}

.login-checkbox:hover {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  
  width: 17px;
  height: 17px;
  
  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  
  width: 15px;
  height: 2px;
  
  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
